<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Оплата Stripe</title>
    <style>
        .bg-custom {
            background-color: #01c4c8;
        }       
    </style>
</head>
<body class="bg-custom">
    <!-- HTML-шаблон страницы для оплаты -->
    <form id="payment-form" action="{% url 'posts:checkout' %}" method="POST">
        <div id="card-element">
            <!-- Элемент для ввода данных карты, управляемый Stripe.js -->
        </div>
        <button id="submit-button">Оплатить</button>
    </form>
    
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        var stripe = Stripe('pk_test_51OOfJrDFP7obIEXtua7DLgpjKRNdevVYFtCL6lZRjYPv7DhVotPwbhfRVL7FzgmYwfgqDmPa6tTdwDP2qbmZCVCE00Mu6VrrnN');

        fetch('/posts/checkout/', {
            method: 'POST',
        })
        .then(function(response) {
            return response.json();
        })
        .then(function(data) {
            var clientSecret = data.clientSecret;
        
            // Создание платежной формы Stripe и обработка оплаты
            var elements = stripe.elements();
            var style = {
                base: {
                    fontSize: '16px',
                    color: '#32325d',
                }
            };
            var card = elements.create('card', {style: style});
            card.mount('#card-element');
        
            var form = document.getElementById('payment-form');
        
            form.addEventListener('submit', function(event) {
                event.preventDefault();
            
                stripe.confirmCardPayment(clientSecret, {
                    payment_method: {
                        card: card,
                    }
                })
                .then(function(result) {
                    if (result.error) {
                        // Ошибка при оплате
                        console.error(result.error.message);
                    } else {
                        // Оплата успешно завершена
                        console.log(result.paymentIntent);
                    }
                });
            });
        });
    </script>
</body>
</html>